*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.parent{
    height:500px;
    background-color: #111;
}
.child, .child2{
    width:100px;
    height:100px;
    background-color: #ffbf00;
    border-radius:50%;
    /* transition: 1s ease; */
}
div.parent:hover div.child{
    /* transform: translateX(80vw); */
    animation : 1s move ease; 
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite; 
    animation-direction: alternate; 
}
div.parent:hover div.child2{
    /* transform: translateX(80vw); */
    animation : 1s move ease; 
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite; 
    animation-direction: alternate; 
    animation-delay: 0.5s;
}
@keyframes move{
    0%{
    transform: translateY(0vw);
    }
    50%{
        transform:translate(250px, 100px);
        background-color: aqua;
    }
    50%{
        transform:translate(250px, 200px);
        background-color:darkred;
    }
    100%{
        transform: translateY(300px);
        background-color: chartreuse;
    }